<template>
  <f7-page
    login-screen
  >
    <f7-block>
      <!-- Login -->
      <div class="text-align-center">
        <img
          width="280"
          height="auto"
          :src="appLogo"
        >
      </div>
      <div class="label-text margin-bottom-half">
        Login
      </div>
      <f7-list
        id="list-form"
        form
      >
        <f7-list-input
          outline
          item-label
          label="User"
          type="text"
          clear-button
          name="Usuario"
          autocomplete="username"
          required
          @input="username = $event.target.value"
          @change="checkBtn()"
        />
        <!-- Password -->
        <f7-list-input
          class="margin-top-half"
          outline
          item-label
          label="Password"
          type="password"
          clear-button
          name="Contraseña"
          autocomplete="current-password"
          @input="password = $event.target.value"
          @change="checkBtn()"
        />
        <f7-list-item
          checkbox
          class="margin-top-half"
          title="Recuérdame"
          name="restore-checkbox"
        />
      </f7-list>
      <f7-list
        class="margin-horizontal"
      >
        <f7-button
          col
          button
          fill
        >
          Login
        </f7-button>
      </f7-list>
      <f7-row
        class="margin-horizontal"
      >
        <f7-col>
          <f7-button
            class="col button button-raised"
          >
            Forgot ?
          </f7-button>
        </f7-col>
        <f7-col>
          <f7-button
            class="col button button-raised"
          >
            Register
          </f7-button>
        </f7-col>
      </f7-row>
    </f7-block>
  </f7-page>
</template>
<script>

export default {
  name: 'Login-Page',

  props: {
    // Text
    placeholderUser: { type: String, default: null },
    placeholderPass: { type: String, default: null },
  },

  data() {
    return {
      username: '',
      password: '',
      usernameErr: '',
      passwordErr: '',
      btnDisable: true,
    };
  },

  computed: {
    customStyles() {
      return {
        '--custom-btnBgColor': this.btnBgColor,
      };
    },
    appLogo() {
      return '';
    },
  },

  methods: {
    checkPassword(password) {
      if (password.length < this.minPasswordLength) {
        this.passwordErr = this.minPassLengthErrorMsg;
        return true;
      }
      if (password.length > this.maxPasswordLength) {
        this.passwordErr = this.maxPassLengthErrorMsg;
        return true;
      }
      return false;
    },

    checkUsername(username) {
      if (username.length < this.minUsernameLength) {
        this.usernameErr = this.minUserLengthErrorMsg;
        return true;
      }
      if (username.length > this.maxUsernameLength) {
        this.usernameErr = this.maxUserLengthErrorMsg;
        return true;
      }
      return false;
    },

    checkBtn() {
      if (!this.checkUsername(this.username) && !this.checkPassword(this.password)) {
        this.btnDisable = false;
      } else {
        this.btnDisable = true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
</style>
