<template>
  <f7-page name="home-page">
    <!-- Top Navbar -->
    <f7-navbar
      large
      :sliding="false"
    >
      <f7-nav-left>
        <f7-link
          icon-ios="f7:menu"
          icon-aurora="f7:menu"
          icon-md="material:menu"
          panel-open="left"
        />
      </f7-nav-left>
      <f7-nav-title sliding>
        AppEngine
      </f7-nav-title>
      <f7-nav-title-large>AppEngine</f7-nav-title-large>
    </f7-navbar>

    <!-- Page content-->
    <f7-block strong>
      <p>
        This is an example of tabs-layout application.
        The main point of such tabbed layout is that each tab contains
        independent view with its own routing and navigation.
      </p>

      <p>
        Each tab/view may have different layout, different navbar type
        (dynamic, fixed or static) or without navbar like this tab.
      </p>
    </f7-block>
    <f7-block-title>Navigation</f7-block-title>
    <f7-list>
      <f7-list-item
        link="/about/"
        title="About"
      />
      <f7-list-item
        link="/form/"
        title="Form"
      />
      <f7-list-item
        link="/login/"
        title="Login"
      />
    </f7-list>
    <f7-block-title>Panels</f7-block-title>
    <f7-block strong>
      <f7-row>
        <f7-col width="50">
          <f7-button
            fill
            raised
            panel-open="left"
          >
            Left Panel
          </f7-button>
        </f7-col>
      </f7-row>
    </f7-block>

    <f7-list>
      <f7-list-item
        title="Dynamic (Component) Route"
        link="/dynamic-route/blog/45/post/125/?foo=bar#about"
      />
      <f7-list-item
        title="Default Route (404)"
        link="/load-something-that-doesnt-exist/"
      />
      <f7-list-item
        title="Request Data & Load"
        link="/request-and-load/user/123456/"
      />
    </f7-list>
  </f7-page>
</template>
