/* eslint-disable vue/no-v-model-argument */
<template>
  <f7-app v-bind="f7params">
    <!-- Left panel with cover effect-->
    <f7-panel
      left
      cover
    >
      <f7-view>
        <f7-page>
          <f7-navbar title="Left Panel" />
          <f7-block>Left panel content goes here</f7-block>
        </f7-page>
      </f7-view>
    </f7-panel>

    <!-- Views/Tabs container -->
    <f7-views
      class="safe-areas"
    >
      <!-- Your main view/tab, should have "view-main" class. It also has "tab-active" class -->
      <f7-view
        id="view-home"
        main
        url="/"
      />
    </f7-views>
  </f7-app>
</template>
<script>
import { onMounted } from 'vue';
import { f7, f7ready } from 'framework7-vue';
import { getDevice } from 'framework7/lite-bundle';
import cordovaApp from '../js/cordova-app';

import routes from '../js/routes';
import store from '../js/store';

export default {
  setup() {
    const device = getDevice();
    // Framework7 Parameters
    const f7params = {
      name: 'AppEngine', // App name
      theme: 'auto', // Automatic theme detection

      id: 'io.framework7.myapp', // App bundle ID
      // App store
      store,
      // App routes
      routes,

      // Input settings
      input: {
        scrollIntoViewOnFocus: device.cordova && !device.electron,
        scrollIntoViewCentered: device.cordova && !device.electron,
      },
      // Cordova Statusbar settings
      statusbar: {
        iosOverlaysWebView: true,
        androidOverlaysWebView: false,
      },
    };
    onMounted(() => {
      f7ready(() => {
        // Init cordova APIs (see cordova-app.js)
        if (device.cordova) {
          cordovaApp.init(f7);
        }

        // Call F7 APIs here
      });
    });

    return {
      f7params,
    };
  },
};
</script>
